*{
	margin: 0;
	padding: 0;
}



.navbar{
	margin-top: 15px;
}

.header-1{
	margin-top: 15px;
	margin-bottom: 20px;
	margin-left: 15PX;
	text-align: left;
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 300%;
	font-style: bold;
}

.header-2{
	margin-top: 15px;
	margin-bottom: 40px;
	text-align: center;
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 300%;
	font-style: bold;
}

.img-fluid {
	height: 325px;
	object-fit: cover;
	object-position: center center;
	padding: 2rem;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: yellow;
  color: black;
  text-align: right;
}

.p-footer{
	margin-right: 10px;
}

.p1-paragraph{
	text-align: left;
	padding-bottom: 100px;
}

.card{
	margin-top: 15px;
}

.carousel{
	margin-top: 15px;

}

.paragraph4{
	padding-bottom: 100px;
}

